/* Example file enabling theme + some features */

@import url(chrome/theme_color_variables.css);
@import url(chrome/tab_close_button_always_on_hover.css);
@import url(chrome/tab_loading_progress_throbber.css);
@import url(chrome/blank_page_background.css);
@import url(chrome/hide_toolbox_top_bottom_borders.css);
@import url(chrome/button_effect_icon_glow.css);
@import url(chrome/textual_content_navigation.css);
@import url(chrome/round_ui_items.css);

/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


/*
 * This file can be used to customize the look of Mozilla's user interface
 * You should consider using !important on rules which you want to
 * override default settings.
 /*
 * Edit this file and copy it as userChrome.css into your
 * profile-directory/chrome/
 /*
 * Do not remove the @namespace line -- it's required for correct functioning
 */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* set default namespace to XUL */


/* -------------------- Transitions for some things -------------------- */

toolbarbutton,
.subviewbutton,
stack,
.toolbarbutton-icon,
vbox {
    transition: background-color var(--animation-speed) !important;
}


/* -------------------- Style tab bar -------------------- */


/* change text color of muted tabs */

.tabbrowser-tab[muted] .tab-label {
    color: #ff1d6c;
}


/* remove close button on tabs */

.tab-close-icon {
    display: none !important;
}

#bookmarksMenuPopup {
    width: 320px !important
}

.menupopup-arrowscrollbox * {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(45, auto);
}

.titlebar-spacer[type="pre-tabs"] {
    border-inline-end: 0px !important;
    width: 0px !important;
}

scrollbox[part="scrollbox"][flex="1"][orient="horizontal"] {
    padding-left: 12px !important;
}

[sizemode="maximized"] [first-visible-tab] {
    margin-left: -12px !important;
}

[sizemode="maximized"] [first-visible-tab] stack {
    margin-left: 12px !important;
}

.tab-background,
.tab-loading-burst {
    border-radius: var(--tab-corner-rounding) var(--tab-corner-rounding) 0px 0px !important;
    margin: -1px !important;
}

tab:not(:active) .tab-background {
    transition: background-color var(--animation-speed) !important;
}

 :root[uidensity="compact"] {
    --tab-min-height: 31px !important;
}

tab:not([selected]):hover .tab-background {
    background-color: var(--toolbarbutton-hover-background) !important;
}

tab {
    min-width: 1px !important;
    column-width: 1px !important;
    padding-bottom: 1px !important;
}

.tab-line {
    display: none !important;
}

tab:not([beforeselected-visible])::after {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    transition: border-color var(--animation-speed), margin-top var(--animation-speed) !important;
}

tab[beforehovered]::after,
tab:hover::after {
    border-color: transparent !important;
    margin-top: 20px !important;
}

#navigator-toolbox {
    --tabs-border-color: transparent !important;
}

tab[visuallyselected] .tab-background {
    box-shadow: 0px 3px 12px -5px black !important;
}

[last-visible-tab] {
    margin-right: calc(var(--tab-corner-rounding) + 2px) !important;
    /* fix unexpected tab overflow */
}


/**/

.urlbar-input-box,
#identity-box,
#tracking-protection-icon-container,
.urlbar-history-dropmarker,
.urlbar-page-action,
#reader-mode-button,
[anonid=urlbar-go-button],
.toolbarbutton-1>stack,
toolbarbutton:not(.titlebar-button):not([class^="findbar-find"]):not([class^="scrollbutton"]),
.close-icon {
    border-radius: var(--button-corner-rounding)!important;
}

.findbar-find-next {
    border-radius: 0px var(--button-corner-rounding) var(--button-corner-rounding) 0px !important;
}

.findbar-textbox {
    border-radius: var(--button-corner-rounding) 0px 0px var(--button-corner-rounding) !important;
}

.bookmark-item {
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-right: 0px !important;
}

#urlbar {
    border-radius: calc(1px + var(--button-corner-rounding)) !important;
    border: none !important;
}


/* style identity box */

#identity-box {
    margin-right: 0px !important;
}


/* -------------------- Style context menus -------------------- */

#context-inspect-a11y {
    display: none !important;
}

#context-navigation,
#context-sep-navigation,
#context-bookmarklink,
#context-viewinfo,
#context-viewpartialsource-selection,
#inspect-separator,
#context-savelink,
#context-sendimage,
#context-setDesktopBackground,
#context_reloadTab,
#context_moveTabOptions,
#context_bookmarkTab,
.bookmarks-actions-menuseparator,
.openintabs-menuitem {
    display: none !important;
}

menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
    -moz-appearance: none !important;
}

menupopup:not(#BMB_bookmarksPopup) {
    padding: 6px 9px 9px !important;
    margin: -6px -9px 0 !important;
    border: 0 !important;
    background: 0 !important;
}

menu[open] menupopup:not(#BMB_bookmarksPopup) {
    margin: -12px -9px 0 !important;
}

#BMB_bookmarksPopup menu[open] menupopup {
    transform: translateY(4px) !important;
}

menupopup menuseparator {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 0px !important;
    border-bottom: none !important;
    opacity: 0.2 !important;
}

.menupopup-arrowscrollbox {
    background: Menu !important;
    /* fall back if adaptable colors are removed */
}

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    padding: 6px 0 !important;
}

.panel-arrowcontent {
    padding-top: 0px !important;
    border: none !important;
}


/* shadows and rounded corners for menus */

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    border-radius: var(--menu-corner-rounding) !important;
    box-shadow: 0px 2px 9px -3px black !important;
}

.panel-arrowcontainer .panel-arrowcontent,
.menupopup-arrowscrollbox,
hbox[flex="1"][part="innerbox"] {
    border-radius: var(--menu-corner-rounding) !important;
}

.in-bookmarks-menu {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

menu,
menuitem,
menucaption {
    -moz-appearance: none !important;
    height: var(--menu-item-height) !important;
}

menu,
menuitem,
menucaption {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

menu:not(.subviewbutton)>.menu-right {
    margin-top: 2px !important;
    margin-right: 0px !important;
    width: 0px !important;
}

menu:not(.subviewbutton)>.menu-right image {
    margin-right: -5px !important;
    margin-top: -2px !important;
    border: 6px solid var(--toolbar-color) !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}

panelview toolbarbutton:not(#fxa-manage-account-button) {
    height: var(--menu-item-height) !important;
}

#BMB_bookmarksPopup .menu-right {
    height: 23px !important;
}

#sidebar-switcher-bookmarks,
#customization-uidensity-menuitem-compact {
    margin-top: 5px !important;
}

#customization-lwtheme-menu-header {
    margin-top: 0px !important;
}


/* linux and mac-specific adjustments */

@media not (-moz-os-version: windows-win10) {
    @media not (-moz-os-version: windows-win8) {
        @media not (-moz-os-version: windows-win7) {
            hbox[flex="1"][part="innerbox"] {
                box-shadow: 0px 2px 12px -6px black !important;
            }
            .menu-iconic-left {
                margin: 0px 6px !important;
            }
            #BMB_bookmarksPopup menu[open] menupopup {
                transform: translateY(1px) !important;
            }
        }
    }
}


/* make menus adapt to theme */

menu,
menuitem,
menucaption {
    color: var(--toolbar-color) !important;
}

.menupopup-arrowscrollbox {
    background-color: var(--toolbar-bgcolor, Menu) !important;
}

menu[_moz-menuactive="true"]:not([disabled="true"]),
menuitem[_moz-menuactive="true"]:not([disabled="true"]),
menucaption[_moz-menuactive="true"]:not([disabled="true"]) {
    background-color: var(--toolbarbutton-hover-background, rgba(127, 127, 127, 0.5)) !important;
}

menu[disabled="true"],
menuitem[disabled="true"],
menucaption[disabled="true"] {
    color: var(--toolbarbutton-hover-background, rgba(127, 127, 127, 0.5)) !important;
}

menu[disabled="true"][_moz-menuactive="true"],
menuitem[disabled="true"][_moz-menuactive="true"],
menucaption[disabled="true"][_moz-menuactive="true"] {
    background-color: transparent !important;
}

.panel-arrow {
    fill: var(--toolbar-bgcolor) !important;
}

[lwthemetextcolor="dark"] panelview:not([extension]),
[lwthemetextcolor="dark"] .panel-arrowcontent {
    background-color: #f5f6f7 !important;
}

.panel-subview-body {
    background-color: var(--toolbar-bgcolor) !important;
}

#downloadsPanel-mainView {
    background-color: var(--toolbar-bgcolor) !important;
}

#identity-popup-mainView {
    background-color: var(--toolbar-bgcolor) !important;
}

#identity-popup-content-blocking-detected {
    color: var(--toolbar-active-background) !important;
}

#identity-popup-permission-empty-hint {
    color: var(--toolbar-active-background) !important;
}

.identity-popup-warning-yellow {
    color: black !important;
}

panel:not([viewId^="PanelUI-webext"]) .panel-arrow {
    fill: var(--toolbar-bgcolor) !important;
}

.bookmark-item [class^="scrollbutton"] {
    background-color: var(--toolbar-bgcolor) !important;
}


/* === Make findbar autohide === */

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover {
    background-color: hsla(0, 0%, 70%, .2) !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover:active {
    background-color: hsla(0, 0%, 70%, .2) !important;
    transition-duration: 0 !important;
}

findbar:not(:focus-within) {
    height: 0px !important;
}


/* =====-=====-===== Location/URL & Search Bar =====-=====-===== */

#menu_unsortedBookmarks {
    display: none !important;
}

#BMB_unsortedBookmarks {
    display: none !important;
}


/* ---------- [center bookmark toolbar] ---------- */

#PlacesToolbarItems {
    display: flex !important;
    justify-content: center !important;
}


/* ---------- [fonts] ---------- */

#urlbar {
    font-family: Fantasque Sans Mono !important;
    font-size: 11pt !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    text-align: center;
}

#searchbar {
    font-family: Fantasque Sans Mono !important;
    font-size: 11pt !important;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
}

#personal-bookmarks .bookmark-item>.toolbarbutton-text {
    color: #2CDAB7 !important;
    font-family: Fantasque Sans Mono;
    font-size: 11pt !important;
}

#urlbar:hover {
    box-shadow: none !important;
}


/* ---------- [bar width] ---------- */

#urlbar-container {
    max-width: 1000px !important;
}

#search-container {
    max-width: 250px !important;
}


/* =====-=====-===== Hamburger Menu =====-=====-===== */


/* ---------- [fonts] ---------- */

#appMenu-popup .subviewbutton .toolbarbutton-text,
#appMenu-popup .panel-arrowcontent,
panelmultiview .toolbaritem-combined-buttons>label {
    font-family: Fantasque Sans Mono !important;
    font-size: 12px !important;
}

.panel-arrow {
    fill: #1E2129 !important;
    background: transparent !important;
}

.panel-subview-body {
    color: #8888FF !important;
    background: #1E2129 !important;
    border-color: #ffffff !important;
}

.appMenu-zoomReset-button {
    color: dodgerblue !important;
    fill: dodgerblue !important;
    border-color: #2CDAB7 !important;
    border-radius: 0px !important;
    background-color: #1E2129 !important;
}

.subviewbutton.panel-subview-footer {
    background-color: #1E2129 !important;
    border-top: 0px solid !important;
}

.panel-header {
    border-bottom: 1px solid #1E2129 !important;
    background: #1E2129 !important;
}

.panel-subview-footer,
[class^="PanelUI-"] {
    color: #8888FF !important;
    background: #1E2129 !important;
}

.subviewbutton.panel-subview-footer {
    background-color: #1E2129 !important;
    border-top: 1px solid #1E2129 !important;
}

.appMenu-tp-separator,
toolbarseparator {
    display: visible !important;
    border-color: #404040 !important;
}

.subviewbutton[shortcut]::after {
    font-family: Fantasque Sans Mono !important;
    color: dodgerblue !important;
}

.subviewbutton-nav::after {
    fill: dodgerblue !important;
}

.PanelUI-subView .toolbaritem-combined-buttons>.subviewbutton-iconic>.toolbarbutton-text {
    display: none !important;
}


/*=======================================================================================*/
